body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width:20%;
}

ul {
  list-style: none;
}
/*
.nav-flex {
display: flex;
justify-content: space-around;
list-style: none;
background-color: grey;
color: black;
height: 100px;
}*/

.my-main-container {
  margin-top: 45px;
}

.my-nav-link {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}
