/*body {
  background-color: ;
};*/

#component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

#heropannel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}

ul{
  list-style: none;
}

.hero-panel{
  width: calc(49.99% - 20px);
  margin: 10px;
  text-align: center;
}

.hero-image{
  max-width: 30%;
}
